body{
    background: #bef300;
}
h1{
    color:red;
}
h2{
    color: grey;
}
.pretty-header1{
    color:rgb(194, 132, 16);
}
.pretty-header2{
    color: green;
}
.pretty-header3{
    color: white;
}   